body {
	font-family: 'Concert One', cursive;
	color: #FAF3BC;
	background: #888888 url('img/Yellow_bkrd.jpg---') no-repeat right top;
}

a {
	color: #4FB69F;
	text-decoration: none;
}

h2 {
	font-size: 1.75em;
	color: #FE140D;
	font-family: 'Sigmar One', cursive;
  	display: block;
    margin-bottom: -0.7em;  /*-20px*/
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

h3 {
	font-family: 'Concert One', cursive;
	color: #FAF3BC;
	font-weight: normal;
	text-align: center;
}

h4 {
	margin: 0;
	font-size: 1.2em;
	font-weight: normal;
}

img { max-width: 100% }

.btn  {
	color: #FAF3BC;
	background: #FE140D;
	padding: 0.5em 2em;  /*5px 30px*/
    border-radius: 2em;  /*25px*/
    text-transform: uppercase;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    box-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.btn:hover {
	background: #FE140D;
}

ul.nav {
    margin: 5% 1% 2% 0;
    list-style: none;
    float: right;
}

ul.nav li {
    display: inline;
	float: right;
}

ul.nav li a {
	font-size: 1em;
	color: #FAF3BC;
	float: right;
	margin: 0 0 0 1em;
}

#intro {
	float: left;
}

#intro-2nd-para {
	margin-bottom: 5%;  /*20px*/
}

#film-scenes {
	float: right;
	text-align: center;
}

#film-scenes img {
	border: 8px solid #FAF3BC;
	margin: 4% 0 0 0;  /*15px 0 1px 0*/
	float: right;
}

#film-scenes h2 {
	margin-bottom: -3%;  /*-6px*/
}

#filmmaker img {
    border: 8px solid #FAF3BC; 
	margin-top: 4%;  /*15px*/
}

#copyright {
	display: block;
	text-align: left;
}

#LSC_logo {
    margin-top: 2%;  /*20px*/
    margin-bottom: 1%;
	float: left;

}

#LSC_logo img {
    height: auto;
    margin: 0;
    border: 8px solid #FAF3BC;  

}

#DVD_cover {
	float: right;
}

#DVD_cover img {
	border: 8px solid #FAF3BC;  
	margin: 0 0 2% 0;  /*0 0 20px 0*/
	float: right;
}
